<!DOCTYPE html>
<html>
<head>
	<title>login</title>
</head>
<body>
<form class="form" id="login_form" method="post" action="/login/">
{% csrf_token %}
	username: <input type="text" name="username" value="" size="50" />
	<br />
	password: <input type="password" name="password" value="" size="50" />
	<br />
	<input type="submit" name="" value="submit">
</form>
</body>
</html>